/* xs < 768 */
@media screen and (max-width: 767px) {
	p {
		font-size: 0.9rem;
	}
}

/* sm */
@media screen and (min-width: 768px) {
	p {
		font-size: 1rem;
	}
}

/* md */
@media screen and (min-width: 992px) {
	p {
		font-size: 1.2rem;
	}
}

/* lg */
@media screen and (min-width: 1200px) {
	p {
		font-size: 1.3rem;
	}
}

.text-responsive {
	font-size: calc(100% + 1vw + 1vh);
}

.navbar-nav,
.mr-auto {
	flex: 1;
	margin: auto !important;
	display: flex;
	justify-content: space-between;
}
